<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <section aria-label="Bandage">
            <h2>Bauchbinde</h2>
            <form id="bandage">
                <select id="bandage-select"></select>
                <button type="submit">Bauchbinde anzeigen</button>
            </form>
        </section>
        <section aria-label="Points">
            <h1>Punkte</h1>
            <div id="team-1">
                <h2>Team 1</h2>
                <select name="team-1-name" id="team-1-name">
                    <option value="-" disabled selected>Bitte einen Studiengang auswählen...</option>
                    <option value="AI">Allegmeine Informatik</option>
                    <option value="WI">Wirtschaftsinformatik</option>
                    <option value="MI">Medieninformatik</option>
                    <option value="ITM">IT-Management</option>
                </select>
                <form>
                    <button value="minus">-1</button>
                    <button value="add">+1</button>
                </form>
                <p id="points-team-1">0</p>
            </div>
            <div id="team-2">
                <h2>Team 2</h2>
                <select name="team-2-name" id="team-2-name">
                    <option value="-" disabled selected>Bitte einen Studiengang auswählen...</option>
                    <option value="AI">Allegmeine Informatik</option>
                    <option value="WI">Wirtschaftsinformatik</option>
                    <option value="MI">Medieninformatik</option>
                    <option value="ITM">IT-Management</option>
                </select>
                <form>
                    <button value="minus">-1</button>
                    <button value="add">+1</button>
                </form>
                <p id="points-team-1">0</p>
            </div>
            <form id="show-teams-form">
                <button type="submit">Show Teams</button>
            </form>

            <form id="reset-teams-form">
                <button type="submit">Reset Teams</button>
            </form>
        </section>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="/js/saveCookie.js" type="module"></script>
    <script src="/js/dashboardSocketScript.js" type="module"></script>
    <script src="/js/dashboardVueScript.js" type="module"></script>
</body>
</html>