<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="/css/variables.css"> -->
		<link rel="stylesheet" href="/css/overlay.css" />
		<title>Overlay</title>
	</head>
	<body>
		<main>
			<!-- STARTING SCREEN -->
			<section class="starting-screen" aria-label="starting-screen">
				<div class="starting-screen-container" id="starting-screen-container">
					<ul class="corners">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>

					<div class="starting-screen-outer">
						<ul class="corners">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<div class="starting-screen-inner">
							<ul class="corners">
								<li>&nbsp;</li>
								<li>&nbsp;</li>
								<li>&nbsp;</li>
								<li>&nbsp;</li>
							</ul>

							<div id="pixels"></div>

							<div class="content" data-value="first">
								<figure>
									<img src="/assets/img/logo-color.png" />
								</figure>
								<div id="information">
									<p>Willkommen</p>
									<h1>Die Show</h1>
									<h2>Beginnt bald</h2>
								</div>
								<div class="countdown-outer">
									<ul class="corners">
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
									</ul>

									<div class="countdown-inner">
										<ul class="corners">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>

										<div class="countdown-content">
											<h3 id="starting-screen-countdown">00:00</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- BANDAGES -->
			<section class="bandages" id="bandages" aria-label="bandages">
				<div id="bandages-container-left" class="bandages-container-left"></div>
				<div
					id="bandages-container-right"
					class="bandages-container-right"></div>
			</section>

			<!-- POINTS (GAME) -->
			<section class="teams" id="points" aria-label="points">
				<div class="team-outer" id="team-points-outer-1">
					<ul class="corners">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
					<div class="team-inner">
						<ul class="corners">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<div class="content" id="team-points" data-side="left">
							<figure id="team-points-image">
								<img
									src="/assets/img/courses/allgemeine informatik.png"
									data-course="Allgemeine Informatik" />
								<img
									src="/assets/img/courses/it-management.png"
									data-course="IT-Management" />
								<img
									src="/assets/img/courses/medieninformatik.png"
									data-course="Medieninformatik" />
								<img
									src="/assets/img/courses/wirtschaftsinformatik.png"
									data-course="Wirtschaftsinformatik" />
							</figure>
							<div>
								<h1>Team 1</h1>
								<p>0 Punkte</p>
							</div>
						</div>
					</div>
				</div>
				<div class="team-outer" id="team-points-outer-2">
					<ul class="corners">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
					<div class="team-inner">
						<ul class="corners">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<div class="content" id="team-points" data-side="right">
							<figure id="team-points-image">
								<img
									src="/assets/img/courses/allgemeine informatik.png"
									data-course="Allgemeine Informatik" />
								<img
									src="/assets/img/courses/it-management.png"
									data-course="IT-Management" />
								<img
									src="/assets/img/courses/medieninformatik.png"
									data-course="Medieninformatik" />
								<img
									src="/assets/img/courses/wirtschaftsinformatik.png"
									data-course="Wirtschaftsinformatik" />
							</figure>
							<div>
								<h1>Team 2</h1>
								<p>0 Punkte</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- POINTS (TOTAL) -->
			<section class="points-total">
				<div id="points-total-container" class="points-total-container"> </div>
			</section>

			<!-- QUIZ -->
			<section class="quiz" id="quiz" aria-label="quiz">
				<div class="quiz-container" id="quiz-container"> </div>
			</section>

			<!-- LEGO BUILDS -->
			<section class="lego-builds" id="lego-builds" aria-label="lego-builds">
				<div class="lego-builds-container" id="lego-builds-container"> </div>
			</section>

			<!-- MEMORY -->
			<!-- <section class="memory" id="memory" aria-label="memory">
				<div class="memory-container" id="memory-container"> </div>
			</section> -->

			<!-- TIMER -->
			<section class="timer">
				<div id="timer-container" class="timer-container"></div>
			</section>

			<!-- WHERE IS THIS -->
			<section
				class="where-is-this"
				id="where-is-this"
				aria-label="where-is-this">
				<div class="where-is-this-container" id="where-is-this-container">
				</div>
			</section>

			<!-- SPONSORS -->
			<section class="sponsors" aria-label="sponsors">
				<div class="sponsors-container" id="sponsors-container">
					<ul class="corners">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>

					<div class="sponsors-outer">
						<ul class="corners">
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
							<li>&nbsp;</li>
						</ul>

						<div class="sponsors-inner">
							<ul class="corners">
								<li>&nbsp;</li>
								<li>&nbsp;</li>
								<li>&nbsp;</li>
								<li>&nbsp;</li>
							</ul>

							<div id="pixels"></div>

							<div class="content" data-value="first">
								<figure>
									<img src="/assets/img/logo-color.png" />
								</figure>
								<div>
									<p>Diese Show wird</p>
									<h1>Unterstützt von</h1>
								</div>
								<div class="sponsors-images-outer">
									<ul class="corners">
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
									</ul>

									<div class="sponsors-images-inner">
										<ul class="corners">
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>

										<ul class="images">
											<li>
												<figure>
													<img src="/assets/img/able-group.png" />
												</figure>
											</li>
											<li>
												<figure>
													<img src="/assets/img/keravonos.png" />
												</figure>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- HALLI GALLI -->
			<section class="halli-galli" id="halli-galli" aria-label="halli-galli">
				<div class="halli-galli-container" id="halli-galli-container"></div>
			</section>

			<!-- COUNT LETTERS -->
			<!-- <section
				class="count-letters"
				id="count-letters"
				aria-label="count-letters">
				<div class="count-letters-container" id="count-letters-container">
				</div>
			</section> -->

			<!-- REMEMBER IMAGE -->
			<section
				class="remember-image"
				id="remember-image"
				aria-label="remember-image">
				<div class="remember-image-container" id="remember-image-container">
				</div>
			</section>

			<!-- IMITATE -->
			<section class="imitate" id="imitate" aria-label="imitate">
				<div class="imitate-container" id="imitate-container"></div>
			</section>

			<!-- POLL CONTAINER -->
			<section class="poll" aria-label="poll">
				<div class="poll-container hidden" id="poll-container"> </div>
			</section>
		</main>

		<!-- Imports -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
		<script src="/js/overlaySocketScript.js" type="module"></script>
		<script src="/js/overlayVueScript.js" type="module"></script>
	</body>
</html>
