<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/overlay.css">
    <title>Overlay</title>
</head>
<body>
    <main>
        <section class="bandages" id="bandages" aria-label="bandages">
            <div id="bandages-container" class="bandages-container">
                
            </div>
        </section>
        <section class="teams" id="teams" aria-label="points">
            <div>
                <h1>Team</h1>
                <p>0</p>
            </div>
            <div>
                <h1>Team</h1>
                <p>0</p>
            </div>
        </section>
        <section class="quiz" id="quiz" aria-label="quiz">
            <div class="quiz-container" id="quiz-container">

            </div>
        </section>
        <section class="lego-builds" id="lego-builds" aria-label="lego-builds">
            <div class="lego-builds-container" id="lego-builds-container">

            </div>
        </section>
    </main>

    <!-- Imports -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="/js/overlaySocketScript.js" type="module"></script>
    <script src="/js/overlayVueScript.js" type="module"></script>
</body>
</html>