<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
</head>
<body>
    <h1>Unauthorized</h1>
    <form>
        <input type="password">
        <button type="submit">save</button>
    </form>

    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const FORM = document.querySelector('form');

            FORM.addEventListener('submit', ($event) => {
                const INPUT = document.querySelector('input');
                $event.preventDefault();

                window.location.replace(`/dashboard?password=${INPUT.value}`);
            });
        });

    </script>
</body>
</html>