@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
}

.teams {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    padding: 4rem;
}

.teams div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    background-color: #312640;
    color: #fcfcfc;
    padding: 1rem;
    border-radius: 1rem;
}

.teams div h1 {
    font-size: 2rem;
    font-weight: 400;
}

.teams div p {
    font-size: 3rem;
    font-weight: 700;
}