@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,500;1,700&display=swap");

:root {
	--primary-color: #ffffff;
	--secondary-color: #c0e2f2;

	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 2rem;
	--spacing-xl: 3rem;
	--spacing-xxl: 4rem;
	--spacing-3xl: 5rem;

	--border-radius: 0.25rem;
	--border-width: 0.2rem;

	--font-size-m: 1.25rem;
	--font-size-l: 1.75rem;
	--font-size-xl: 2rem;
	--font-size-2xl: 3rem;
	--font-size-3xl: 4rem;
	--font-size-4xl: 6rem;

	--image-height: 20rem;
	--image-width: 20rem;

	--width: 34rem;

	/* Border */
	--border-thickness: 0.625rem;
	--border-outest-color: #7a5fa0;
	--border-outer-color: #624c80;
	--border-inner-color: #493960;
	--border-background-color: #312640;
	--border-background-color-transparent: rgba(49, 38, 64, 0.9);

	/* Answers */
	--selected-color: #cc66ae;
	--correct-color: #4caf50;
	--wrong-color: #f44336;

	/* Courses */
	--border-outer-color-course: #624c80;
	--border-inner-color-course: #493960;
	--border-background-color-course: #312640;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto Mono", sans-serif;
}

body {
	background-color: transparent;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/* PIXELS */
#pixels {
	display: grid;
	grid-template-columns: repeat(100, 1fr);
	grid-template-rows: repeat(100, 1fr);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.pixel {
	box-sizing: border-box;
	width: 1vw;
	aspect-ratio: 1/1;
	z-index: -1;
}

.a {
	background-color: #7a5fa0;
}
.b {
	background-color: #624c80;
}
.c {
	background-color: #493960;
}
.d {
	background-color: #312640;
}

/* BANDAGES */
.bandages {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.bandages-container-left,
.bandages-container-right {
	position: relative;
	width: 100%;
	height: 100%;
}

.bandages-container-left .bandage-outer {
	left: var(--spacing-xl);
	transform: translateX(-100%);
}

.bandages-container-right .bandage-outer {
	right: var(--spacing-xl);
	transform: translateX(100%);
}

/* Outer border */
.bandage-outer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	opacity: 0;
	bottom: var(--spacing-xl);
	gap: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
}

.bandage-outer .corners li {
	background-color: var(--border-outer-color);
}

.corners {
	position: absolute;
	width: calc(100% + var(--border-thickness) * 2);
	height: calc(100% + var(--border-thickness) * 2);
	top: calc(-1 * var(--border-thickness));
	left: calc(-1 * var(--border-thickness));
	list-style: none;
}

.corners li {
	position: absolute;
	width: var(--border-thickness);
	height: var(--border-thickness);
}

.corners li:nth-child(1) {
	top: var(--border-thickness);
	left: var(--border-thickness);
}

.corners li:nth-child(2) {
	top: var(--border-thickness);
	right: var(--border-thickness);
}

.corners li:nth-child(3) {
	bottom: var(--border-thickness);
	left: var(--border-thickness);
}

.corners li:nth-child(4) {
	bottom: var(--border-thickness);
	right: var(--border-thickness);
}

/* Inner border */
.bandage-inner {
	position: relative;
	padding: var(--spacing-m) var(--spacing-l);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-l);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.bandage-inner .corners li {
	background-color: var(--border-inner-color);
}

/* Logo */
.bandage-inner .logo-container {
	position: relative;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bandage-inner .logo {
	height: 14rem;
}

/* Content */
.bandage-inner .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-s);
	color: var(--primary-color);
}

.bandages-container-right .content {
	align-items: flex-end;
}

.bandage-inner .content h3,
.bandage-inner .content p {
	font-size: var(--font-size-l);
	font-weight: 700;
	color: var(--primary-color);
	line-height: 100%;
}

.bandage-inner .content h4 {
	font-size: var(--font-size-m);
	font-weight: 500;
	color: var(--secondary-color);
	line-height: 100%;
}

/* POINTS */
.medieninformatik {
	--border-outer-color-course: #624c80;
	--border-inner-color-course: #493960;
	--border-background-color-course: #312640;
}

.allgemeine-informatik {
	--border-outer-color-course: #0077b6;
	--border-inner-color-course: #005785;
	--border-background-color-course: #003552;
}

.wirtschaftsinformatik {
	--border-outer-color-course: #2d6a4f;
	--border-inner-color-course: #1e4835;
	--border-background-color-course: #0f241b;
}

.it-management {
	--border-outer-color-course: #495057;
	--border-inner-color-course: #31363a;
	--border-background-color-course: #1a1c1e;
}

.teams {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: calc(var(--border-thickness) * 3);
	bottom: 0;
	width: 100%;
	padding: var(--spacing-xl);
}

/* Outer border */
.team-outer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	gap: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0
			var(--border-outer-color-course),
		var(--border-thickness) 0 0 0 var(--border-outer-color-course),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color-course),
		0 var(--border-thickness) 0 0 var(--border-outer-color-course);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-course);
}

.team-outer[id="team-points-outer-1"] {
	transform: translateX(-100%);
	opacity: 0;
}

.team-outer[id="team-points-outer-2"] {
	transform: translateX(100%);
	opacity: 0;
}

.team-outer .corners li {
	background-color: var(--border-outer-color-course);
}

/* Inner border */
.team-inner {
	position: relative;
	width: 30rem;
	padding: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0
			var(--border-inner-color-course),
		var(--border-thickness) 0 0 0 var(--border-inner-color-course),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color-course),
		0 var(--border-thickness) 0 0 var(--border-inner-color-course);
	background-color: var(--border-background-color-course);
}

.team-inner .corners li {
	background-color: var(--border-inner-color-course);
}

.team-inner .content {
	height: 100%;
	display: flex;
	align-items: center;
	gap: var(--spacing-l);
	color: var(--primary-color);
}

.team-inner .content[data-side="left"] {
	flex-direction: row;
}

.team-inner .content[data-side="right"] {
	flex-direction: row-reverse;
}

.team-inner .content[data-side="right"] > div {
	text-align: right;
}

.team-inner .content > div {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-m);
}
.team-inner .content figure {
	position: relative;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-inner .content figure img {
	height: 10rem;
	object-fit: contain;
	aspect-ratio: 1/1;
	display: none;
}

.team-inner .content figure img.active {
	display: block;
}

.team-inner .content h1 {
	font-size: var(--font-size-m);
	font-weight: 700;
	line-height: 100%;
}

.team-inner .content p {
	font-size: var(--font-size-l);
	font-weight: 700;
	line-height: 100%;
}

/* QUIZ */
.quiz-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--border-thickness);
}

/* Outer border */
.question-outer {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: calc(var(--border-thickness) * 2);
	left: 50%;
	width: calc(100% - var(--border-thickness) * 4);
	gap: var(--spacing-m);
	padding: var(--spacing-l);
	transform: translate(-50%, 100%);
	opacity: 0;
	background-color: var(--border-background-color-transparent);
	z-index: -1;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
}

.question-outer > .corners li {
	background-color: var(--border-outer-color);
}

/* Inner border */
.question-inner {
	position: relative;
	width: 100%;
	padding: var(--spacing-l);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.question-inner > .corners li {
	background-color: var(--border-inner-color);
}

.question-inner .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-l);
	color: var(--primary-color);
}

.question-inner .content header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-m);
	width: 100%;
}

.question-inner .content header h1 {
	font-size: var(--font-size-m);
	font-weight: 500;
	color: var(--secondary-color);
	line-height: 100%;
}

.question-inner .content header h2 {
	font-size: var(--font-size-xl);
	font-weight: 700;
	color: var(--primary-color);
	text-align: center;
	line-height: 100%;
}

.question-inner .content ul {
	display: grid;
	list-style: none;
	gap: var(--spacing-xl);
	grid-template-columns: repeat(2, 1fr);
	padding: var(--border-thickness);
}

/* Answers */
.answer {
	width: 100%;
	padding: var(--spacing-s) var(--spacing-l);
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-l);
	font-weight: 500;
	line-height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-inner-color);
}

.selected {
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--selected-color),
		var(--border-thickness) 0 0 0 var(--selected-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--selected-color),
		0 var(--border-thickness) 0 0 var(--selected-color);
	background-color: var(--selected-color);
}

.correct {
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--correct-color),
		var(--border-thickness) 0 0 0 var(--correct-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--correct-color),
		0 var(--border-thickness) 0 0 var(--correct-color);
	background-color: var(--correct-color);
}

.wrong {
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--wrong-color),
		var(--border-thickness) 0 0 0 var(--wrong-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--wrong-color),
		0 var(--border-thickness) 0 0 var(--wrong-color);
	background-color: var(--wrong-color);
}

/* TIMER */
.timer-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--spacing-xl);
}

.timer-outer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	gap: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
	transform: translateY(-100%);
	opacity: 0;
}

.timer-outer .corners li {
	background-color: var(--border-outer-color);
}

.timer-inner {
	position: relative;
	width: 100%;
	padding: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.timer-inner .corners li {
	background-color: var(--border-inner-color);
}

.timer-inner .content {
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--primary-color);
	font-size: var(--font-size-xl);
}

/* LEGO BUILDS */
.lego-builds-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: var(--spacing-xl);
}

.lego-outer {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
	list-style: none;
	opacity: 0;
	transform: translateY(100%);
}

.lego-outer .corners li {
	background-color: var(--border-outer-color);
}

.lego-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.lego-inner .corners li {
	background-color: var(--border-inner-color);
}

.lego-builds-container ul li figure {
	width: var(--width);
	aspect-ratio: 16/9;
}

.lego-builds-container ul li figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* WHERE IS THIS */
.where-is-this-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: var(--spacing-xl);
}

.where-is-this-container > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}

.where-is-this-outer {
	position: absolute;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
	opacity: 0;
	transform: translateY(100%);
}

.where-is-this-outer .corners li {
	background-color: var(--border-outer-color);
}

.where-is-this-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.where-is-this-inner .corners li {
	background-color: var(--border-inner-color);
	z-index: 1;
}

.where-is-this-container ul li figure {
	width: var(--width);
	aspect-ratio: 16/9;
	overflow: hidden;
	display: flex;
}

.where-is-this-container ul li figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(2);
}

.where-is-this-container ul li figure figcaption {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	padding: calc(var(--border-thickness) * 2);
}

.where-is-this-container ul li figure .scale {
	position: relative;
	height: var(--border-thickness);
	width: 0%;
	background-color: var(--primary-color);
}

.where-is-this-container ul li figure .correct-answer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--border-background-color-transparent);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-l);
	opacity: 0;
}

.where-is-this-container ul li figure .correct-answer.active {
	opacity: 1;
}

.where-is-this-container ul li figure .correct-answer p {
	font-size: var(--font-size-l);
	font-weight: 700;
	color: var(--primary-color);
	text-align: center;
}

/* Memory */
.memory-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.memory-container ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: var(--spacing-m);
	position: absolute;
	bottom: 0;
	right: var(--spacing-l);
	transform: translateY(100%);
	opacity: 0;
}

.memory-container ul li {
	text-align: center;
	padding: var(--spacing-l);
	border-radius: var(--border-radius);
	background-color: var(--border-background-color);
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: var(--font-size-m);
}

/* SPONSORS */
.sponsors {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.sponsors-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}

.sponsors-container .corners li {
	background-color: var(--border-outest-color);
}

.sponsors-outer {
	position: relative;
	width: calc(100vw - var(--border-thickness) * 2);
	height: calc(100vh - var(--border-thickness) * 2);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
}

.sponsors-outer .corners li {
	background-color: var(--border-outer-color);
}

.sponsors-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.sponsors-inner .corners li {
	background-color: var(--border-inner-color);
}

.sponsors-inner .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-3xl);
	color: var(--primary-color);
	padding: var(--spacing-xl);
}

.sponsors-inner .content figure {
	height: 12rem;
	width: 12rem;
}

.sponsors-inner .content figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.sponsors-inner .content > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sponsors-inner .content p {
	font-size: var(--font-size-xl);
	font-weight: 700;
	line-height: 100%;
	font-style: italic;
	color: var(--secondary-color);
	text-transform: uppercase;
	margin-bottom: var(--spacing-m);
}

.sponsors-inner .content h1 {
	font-size: var(--font-size-3xl);
	font-weight: 700;
	line-height: 100%;
	font-style: italic;
	color: var(--primary-color);
	text-transform: uppercase;
}

.sponsors-images-outer {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color);
}

.sponsors-images-outer .corners li {
	background-color: var(--border-outer-color);
}

.sponsors-images-inner {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color);
}

.sponsors-images-inner .corners li {
	background-color: var(--border-inner-color);
}

.sponsors-images-inner > .images {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-3xl);
	padding: var(--spacing-l);
	list-style: none;
}

.sponsors-images-inner > .images > li > figure {
	height: fit-content;
	width: 12rem;
}

.sponsors-images-inner > .images > li > figure > img {
	height: auto;
	width: 100%;
	object-fit: cover;
}

/* STARTING SCREEN */
.starting-screen {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.starting-screen-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}

.starting-screen-container .corners li {
	background-color: var(--border-outest-color);
}

.starting-screen-outer {
	position: relative;
	width: calc(100vw - var(--border-thickness) * 2);
	height: calc(100vh - var(--border-thickness) * 2);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
}

.starting-screen-outer .corners li {
	background-color: var(--border-outer-color);
}

.starting-screen-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.starting-screen-inner .corners li {
	background-color: var(--border-inner-color);
}

.starting-screen-inner .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-3xl);
	color: var(--primary-color);
	padding: var(--spacing-xl);
}

.starting-screen-inner .content figure {
	height: 12rem;
	width: 12rem;
}

.starting-screen-inner .content figure img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.starting-screen-inner .content p {
	font-size: var(--font-size-xl);
	font-weight: 700;
	line-height: 100%;
	font-style: italic;
	color: var(--secondary-color);
	text-transform: uppercase;
	margin-bottom: var(--spacing-m);
}

.starting-screen-inner .content h1 {
	font-size: var(--font-size-4xl);
	font-weight: 700;
	line-height: 100%;
	font-style: italic;
	color: var(--primary-color);
	text-transform: uppercase;
}

.starting-screen-inner .content h2 {
	font-size: var(--font-size-4xl);
	font-weight: 700;
	line-height: 100%;
	font-style: italic;
	color: var(--primary-color);
	text-transform: uppercase;
}

.starting-screen-inner .content h3 {
	font-size: var(--font-size-3xl);
	font-weight: 700;
	line-height: 100%;
}

.starting-screen-inner .content > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.countdown-outer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	gap: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
}

.countdown-outer .corners li {
	background-color: var(--border-outer-color);
}

.countdown-inner {
	position: relative;
	width: 100%;
	padding: var(--spacing-l);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.countdown-inner .corners li {
	background-color: var(--border-inner-color);
}

/* COUNT LETTERS */
.count-letters-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: var(--spacing-xl);
}

.count-letters-container > ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-xl);
}

.count-letters-container > ul > li {
	position: absolute;
	transform: translateY(100%);
	opacity: 0;
}

.count-letters-item-outer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	gap: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
}

.count-letters-item-outer .corners li {
	background-color: var(--border-outer-color);
}

.count-letters-item-inner {
	position: relative;
	width: 100%;
	padding: var(--spacing-m);
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.count-letters-item-inner .corners li {
	background-color: var(--border-inner-color);
}

.count-letters-item-inner .content {
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--primary-color);
	font-size: var(--font-size-xl);
}

/* REMEMBER IMAGE */
.remember-image-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: var(--spacing-xl);
}

.remember-image-container > ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.remember-image-container > ul > li {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	opacity: 0;
}

.remember-image-outer {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
	list-style: none;
	transform-style: preserve-3d;
	transform-origin: center center;
}

.remember-image-outer .corners li {
	background-color: var(--border-outer-color);
}

.remember-image-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.remember-image-inner .corners li {
	background-color: var(--border-inner-color);
}

.remember-image-container > ul > li .card {
	position: relative;
	height: max-content;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	transform-origin: center center;
}

.remember-image-container > ul > li .card .front,
.remember-image-container > ul > li .card .back {
	backface-visibility: hidden;
}

.remember-image-container > ul > li .card > .back {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--border-background-color);
	transform: rotateY(180deg);
}

.remember-image-container > ul > li .card > .back .content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: var(--spacing-l);
}

.remember-image-inner .image {
	width: var(--width);
	aspect-ratio: 16/9;
}

.remember-image-inner .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.remember-image-inner .content p {
	font-size: var(--font-size-l);
	font-weight: 700;
	text-align: center;
	color: var(--primary-color);
}

/* IMITATE */
.imitate-container {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: var(--spacing-xl);
}

.imitate-container > ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.imitate-container > ul > li {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	opacity: 0;
}

.imitate-outer {
	position: relative;
	width: fit-content;
	height: fit-content;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		var(--border-thickness) 0 0 0 var(--border-outer-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
		0 var(--border-thickness) 0 0 var(--border-outer-color);
	padding: var(--border-thickness);
	background-color: var(--border-background-color-transparent);
	list-style: none;
	transform-style: preserve-3d;
	transform-origin: center center;
}

.imitate-outer .corners li {
	background-color: var(--border-outer-color);
}

.imitate-inner {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		var(--border-thickness) 0 0 0 var(--border-inner-color),
		0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
		0 var(--border-thickness) 0 0 var(--border-inner-color);
	background-color: var(--border-background-color-transparent);
}

.imitate-inner .corners li {
	background-color: var(--border-inner-color);
}

.imitate-inner .content {
	height: fit-content;
	width: var(--width);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	padding: var(--spacing-l);
	font-size: var(--font-size-l);
}
