@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
	--background-color: #0c1821;
	--surface-color: #1f2e3d;

	--primary-color: #574672;
	--primary-color-lighter: #6a558b;
	--primary-color-lightest: #6a558b90;

	--secondary-color: #fcfcfc;

	--tertiary-color: #cac0d8;

	--text-color: #fcfcfc;

	--correct-color: #4caf50;

	--spacing-xs: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 2rem;
	--spacing-xl: 3rem;
	--spacing-xxl: 4rem;
	--spacing-3xl: 5rem;

	--border-radius: 0.25rem;
	--border-width: 0.2rem;

	--font-size-m: 1rem;
	--font-size-l: 1.4rem;
	--font-size-xl: 2rem;

	--width: 34rem;
}
