@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --background-color: #fcfcfc;

    --primary-color: #443659;
    --primary-color-lighter: #574672;
    --primary-color-lightest: #44365990;

    --secondary-color: #fcfcfc;

    --tertiary-color: #CAC0D8;

    --text-color: #202124;

    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;

    --border-radius: 0.4rem;
    --border-width: 0.2rem;

    --font-size-m: 1rem;
    --font-size-l: 1.4rem;
    --font-size-xl: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bandages {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;

}

.bandages-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bandages-container div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing-l);
    transform: translateX(-100%);
    opacity: 0;
    bottom: var(--spacing-xl);
    left: var(--spacing-xl);
    border-radius: var(--border-radius);
    gap: var(--spacing-m);
}

.bandages-container div h3 {
    font-size: var(--font-size-l);
    font-weight: 500;
    line-height: 100%;
}

.bandages-container div h4 {
    font-size: var(--font-size-m);
    font-weight: 400;
    color: var(--tertiary-color);
    line-height: 100%;
}

.bandages-container div p {
    font-size: var(--font-size-l);
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 100%;
}

.teams {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    padding: var(--spacing-xl);
    transform: translateY(100%);
}

.teams div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    width: calc(4 * var(--spacing-xl));
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--spacing-m);
    border-radius: var(--border-radius);
}

.teams div h1 {
    font-size: var(--font-size-l);
    font-weight: 500;
}

.teams div p {
    font-size: var(--font-size-xl);
    font-weight: 500;
}