@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #C0E2F2;

    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 3rem;
    --spacing-xxl: 4rem;
    --spacing-3xl: 5rem;

    --border-radius: 0.25rem;
    --border-width: 0.2rem;

    --font-size-m: 1.25rem;
    --font-size-l: 1.75rem;
    --font-size-xl: 2rem;

    --image-height: 20rem;
    --image-width: 20rem;

    /* Border */
    --border-thickness: 0.625rem;
    --border-outer-color: #624C80;
    --border-inner-color: #493960;
    --border-background-color: #312640;
    --border-background-color-transparent: rgba(49, 38, 64, 0.9);

    /* Answers */
    --selected-color: #CC66AE;
    --correct-color: #4CAF50;
    --wrong-color: #F44336;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* BANDAGES */
.bandages {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;

}

.bandages-container-left,
.bandages-container-right {
    position: relative;
    width: 100%;
    height: 100%;
}

.bandages-container-left .bandage-outer {
    left: var(--spacing-xl);
    transform: translateX(-100%);
}

.bandages-container-right .bandage-outer {
    right: var(--spacing-xl);
    transform: translateX(100%);
}

/* Outer border */
.bandage-outer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    opacity: 0;
    bottom: var(--spacing-xl);
    gap: var(--spacing-m);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        var(--border-thickness) 0 0 0 var(--border-outer-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        0 var(--border-thickness) 0 0 var(--border-outer-color);
    padding: var(--border-thickness);
    background-color: var(--border-background-color-transparent);
}

.bandage-outer .corners li {
    background-color: var(--border-outer-color);
}

.corners {
    position: absolute;
    width: calc(100% + var(--border-thickness) * 2);
    height: calc(100% + var(--border-thickness) * 2);
    top: calc(-1 * var(--border-thickness));
    left: calc(-1 * var(--border-thickness));
    list-style: none;
}

.corners li {
    position: absolute;
    width: var(--border-thickness);
    height: var(--border-thickness);
}

.corners li:nth-child(1) {
    top: var(--border-thickness);
    left: var(--border-thickness);
}

.corners li:nth-child(2) {
    top: var(--border-thickness);
    right: var(--border-thickness);
}

.corners li:nth-child(3) {
    bottom: var(--border-thickness);
    left: var(--border-thickness);
}

.corners li:nth-child(4) {
    bottom: var(--border-thickness);
    right: var(--border-thickness);
}

/* Inner border */
.bandage-inner {
    position: relative;
    padding: var(--spacing-m) var(--spacing-l);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-l);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        var(--border-thickness) 0 0 0 var(--border-inner-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        0 var(--border-thickness) 0 0 var(--border-inner-color);
    background-color: var(--border-background-color-transparent);
}

.bandage-inner .corners li {
    background-color: var(--border-inner-color);
}

/* Logo */
.bandage-inner .logo-container {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bandage-inner .logo {
    height: 14rem;
}

/* Content */
.bandage-inner .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    color: var(--primary-color);
}

.bandages-container-right .content{
    align-items: flex-end;
}

.bandage-inner .content h3,
.bandage-inner .content p {
    font-size: var(--font-size-l);
    font-weight: 700;
    color: var(--primary-color);
    line-height: 100%;
}

.bandage-inner .content h4 {
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 100%;
}


/* POINTS */
.teams {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--border-thickness) * 3);
    bottom: 0;
    width: fit-content;
    padding: var(--spacing-xl);
    transform: translateX(-100%);
    opacity: 0;
}

/* Outer border */
.team-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: var(--spacing-m);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        var(--border-thickness) 0 0 0 var(--border-outer-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        0 var(--border-thickness) 0 0 var(--border-outer-color);
    padding: var(--border-thickness);
    background-color: var(--border-background-color-transparent);
}

.team-outer .corners li {
    background-color: var(--border-outer-color);
}

/* Inner border */
.team-inner {
    position: relative;
    width: 10rem;
    padding: var(--spacing-m) var(--spacing-l);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        var(--border-thickness) 0 0 0 var(--border-inner-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        0 var(--border-thickness) 0 0 var(--border-inner-color);
    background-color: var(--border-background-color-transparent);
}

.team-inner .corners li {
    background-color: var(--border-inner-color);
}

.team-inner .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    color: var(--primary-color);
}

.team-inner .content h1,
.team-inner .content p {
    font-size: var(--font-size-l);
    font-weight: 700;
    line-height: 100%;
}


/* QUIZ */
.quiz-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--border-thickness);
}

/* Outer border */
.question-outer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: calc(var(--border-thickness) * 2);
    left: 50%;
    width: calc(100% - var(--border-thickness) * 4);
    gap: var(--spacing-m);
    padding: var(--spacing-l);
    transform: translate(-50%, 100%);
    opacity: 0;
    background-color: var(--border-background-color-transparent);
    z-index: -1;
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        var(--border-thickness) 0 0 0 var(--border-outer-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        0 var(--border-thickness) 0 0 var(--border-outer-color);
    padding: var(--border-thickness);
}

.question-outer > .corners li {
    background-color: var(--border-outer-color);
}

/* Inner border */
.question-inner {
    position: relative;
    width: 100%;
    padding: var(--spacing-l);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        var(--border-thickness) 0 0 0 var(--border-inner-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        0 var(--border-thickness) 0 0 var(--border-inner-color);
    background-color: var(--border-background-color-transparent);
}

.question-inner > .corners li {
    background-color: var(--border-inner-color);
}

.question-inner .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-l);
    color: var(--primary-color);
}

.question-inner .content header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    width: 100%;
}

.question-inner .content header h1 {
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 100%;
}

.question-inner .content header h2 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    line-height: 100%;
}

.question-inner .content ul {
    display: grid;
    list-style: none;
    gap: var(--spacing-xl);
    grid-template-columns: repeat(2, 1fr);
    padding: var(--border-thickness);
}

/* Answers */
.answer {
    width: 100%;
    padding: var(--spacing-s) var(--spacing-l);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-l);
    font-weight: 500;
    line-height: 100%;
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        var(--border-thickness) 0 0 0 var(--border-inner-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        0 var(--border-thickness) 0 0 var(--border-inner-color);
    background-color: var(--border-inner-color);
}

.selected {
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--selected-color),
        var(--border-thickness) 0 0 0 var(--selected-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--selected-color),
        0 var(--border-thickness) 0 0 var(--selected-color);
    background-color: var(--selected-color);
}

.correct {
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--correct-color),
        var(--border-thickness) 0 0 0 var(--correct-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--correct-color),
        0 var(--border-thickness) 0 0 var(--correct-color);
    background-color: var(--correct-color);
}

.wrong {
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--wrong-color),
        var(--border-thickness) 0 0 0 var(--wrong-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--wrong-color),
        0 var(--border-thickness) 0 0 var(--wrong-color);
    background-color: var(--wrong-color);
}

/* TIMER */
.timer-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--spacing-xl);
}

.timer-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: var(--spacing-m);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        var(--border-thickness) 0 0 0 var(--border-outer-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-outer-color),
        0 var(--border-thickness) 0 0 var(--border-outer-color);
    padding: var(--border-thickness);
    background-color: var(--border-background-color-transparent);
    transform: translateY(-100%);
    opacity: 0;
}

.timer-outer .corners li {
    background-color: var(--border-outer-color);
}

.timer-inner {
    position: relative;
    width: 100%;
    padding: var(--spacing-m);
    box-shadow:
        calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        var(--border-thickness) 0 0 0 var(--border-inner-color),
        0 calc(-1 * var(--border-thickness)) 0 0 var(--border-inner-color),
        0 var(--border-thickness) 0 0 var(--border-inner-color);
    background-color: var(--border-background-color-transparent);
}

.timer-inner .corners li {
    background-color: var(--border-inner-color);
}

.timer-inner .content {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: var(--font-size-xl);
}






/* LEGO BUILDS */
.lego-builds-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--spacing-xl);
}

.lego-builds-container ul {
    height: var(--image-height);
    width: var(--image-width);
}

.lego-builds-container ul li {
    position: absolute;
    border-radius: var(--border-radius);
    overflow: hidden;
    opacity: 0;
    transform: translateY(50%);
}

.lego-builds-container ul li figure {
    height: var(--image-height);
    width: var(--image-width);
}

.lego-builds-container ul li figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}




/* WHERE IS THIS */
.where-is-this-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--spacing-xl);
}

.where-is-this-container ul {
    height: var(--image-height);
    width: var(--image-width);
}

.where-is-this-container ul li {
    position: absolute;
    border-radius: var(--border-radius);
    overflow: hidden;
    opacity: 0;
    transform: translateY(50%);
}

.where-is-this-container ul li figure {
    height: var(--image-height);
    width: var(--image-width);
}

.where-is-this-container ul li figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}





/* Memory */
.memory-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memory-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: var(--spacing-m);
    position: absolute;
    bottom: 0;
    right: var(--spacing-l);
    transform: translateY(100%);
    opacity: 0;
}

.memory-container ul li {
    text-align: center;
    padding: var(--spacing-l);
    border-radius: var(--border-radius);
    background-color: var(--border-background-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: var(--font-size-m);
}

/* Sponsors
************************************************************************/
.sponsors-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #312640;
    transform: translateY(100%);
    opacity: 0;
}

.sponsors-container ul {
    height: 100vh;
    list-style: none;
    display: grid;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}